/* @media screen and (max-width: 2500px) {
  .work, .desc{
    height: 800px;

  }
} */
/* about page */


/* about page ends */
@media screen and (max-width: 1200px) {
  .work{

    height: 920px;

  }

  /* #about-description{
    margin-top: 50px;
    width:600px;
    height: 800px;
    background: #fff;
  } */
}
@media (min-width: 992px) {
  .work{
  height: 650px;

  }

}


@media screen and (max-width: 768px) {
  .work{
    height: 600px;
  }

}
@media screen and (max-width: 576px) {
  .work{
    height: 540px;
  }



  #about-description{

    width:400px;
    height: 400px;
    background: #fff;
  }

  .links ul{
  position: relative;
  bottom:0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;

  }
  .links ul li{
  list-style: none;
  margin: 0 20px;

  }
  .links ul li .fa{
  font-size: 20px;
  color: #262626;
  line-height: 40px;
  transition: .5s;

  }
  .links ul li a{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -10px 10px 5px rgb(0, 0, 0, 0.5);
  }
  .links ul li a::before{
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
  }
  .links ul li a::after{
  content: "";
  position: absolute;
  top: 40px;
  left: -5.5px;
  height: 10px;
  width: 100%;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
  }
  .links ul li a:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
  }
  .links ul li:hover .fa{
  color: #fff;
  }
  .links ul li a:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
  }



}

@media screen and (max-width: 400px) {
  .work{
    height: 400px;

  }



/* @media (min-width: 576px) {
  .work {
  height: 540px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .work .desc{
  height: 750px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .work {
  height: 900px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .work {
  height: 900px;
  }
} */
